{% extends "base.html" %}
{% load static %}

{% block title %}{% if current_workspace %}{{ current_workspace.name }}{% else %}Workspaces{% endif %} | Ordo{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'workspaces/shell.css' %}">
{% endblock %}

{% block body %}
<div class="workspace-layout">
    {% include "workspaces/partials/_topbar.html" %}

    <div class="workspace-body">
        {% include "workspaces/partials/_sidebar.html" %}

        <main class="workspace-main {% block workspace_main_class %}{% endblock %}">
            {% block workspace_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'workspaces/vendor/lucide.min.js' %}"></script>
<script src="{% static 'workspaces/shell.js' %}"></script>
{% endblock %}
